
mixin author(authorName)
  - var properties = ['title', 'affiliation'];
  - var author = contents.authors[authorName + '.json'];
  span.author(itemscope, itemtype='http://data-vocabulary.org/Person')
    if author
      a(href='mailto:'+author.metadata.email)
        span(itemprop='name')= author.metadata.name
      each property in properties
        if author.metadata[property]
          span(itemprop=property)= author.metadata[property]
    else
      span(itemprop='name')= authorName
